### Ignored folders ###
__pycache__/
_alt/
_originale/
_TestImages/
_Turned out as Fail/
_Tests/
PMPLib/Correction/
#######################

### Ignored files (wildcard) ###
# For .vscode/* check allowed specific files below
.vscode/*
################################

### Ignored files (specific) ###
ArtificialOverexposing.py
################################

### Allowed files (specific) ###
!.vscode/extensions.json
################################
