### Ignored folders ###
__pycache__/
.vscode/
#######################

### Ignored files (wildcard) ###
################################

### Ignored files (specific) ###
################################
